body {
    background: white;
    color: #323232;

    margin: 0;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-field {
    display: flex;

    margin: 0 auto;

    background: rgba(209, 205, 205, 0.527);
}
.game-cell {
    height: 50px;
    width: 50px;
    border: 1px solid;
}
.game-cell.cross:after {
    content:'X';
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}
.game-cell.zero:after {
    content:'o';
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}